%btn__global {
    background-color: #A259FF !important;
    border-radius: 20px !important;
    // padding: 0px 30px !important;
    font-size: 16px !important;
}

%title {
    font-size: 38px;
    font-weight: 600;
    // line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

%subtitle {
    font-size: 22px;
    font-weight: 400;
    // line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.categories__title {
    @extend %title;
    align-self: flex-start;
}

.categories__cards {
    max-width: 1200px;
}

.categories__card {
    margin: 0 20px;
    width: 240px;
    height: 316px;
    background-color: #3B3B3B;
    border-radius: 20px;
}

.categories__img {
    width: 240px;
    height: 240px;
    img {
        width: 100%;
    }
}

.categories__card-title {
    background-color: transparent;
}

.row {
    flex-wrap: wrap;
}

