%btn__global {
    background-color: #A259FF !important;
    border-radius: 20px !important;
    // padding: 0px 30px !important;
    font-size: 16px !important;
}

%title {
    font-size: 38px;
    font-weight: 600;
    line-height: 74px;
    // letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

%subtitle {
    font-size: 22px;
    font-weight: 400;
    // line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
.nft__cards {
    max-width: 1200px;
}

.nft__card-title {
    font-size: 22px;
    background-color: transparent;
    padding-bottom: 20px;
}

.laal {
    font-size: 16px !important;
}

.nft__card-price,.nft__card-footer {
    font-size: 12px;
    color: #858584;
    background-color: transparent;
}

.nft__card-price p,.nft__card-footer p {
    background-color: transparent;
}

.nft__card {
    width: 330px;
    height: 500px;
    border-radius: 20px;
    background-color: #3B3B3B;
}

.collection__card-ava,.collection__card-ava-txt,.collection__card-ava-img {
    background-color: transparent;
}